<body class="bg-gray-400 min-h-screen">
  <div class="flex justify-center items-center min-h-screen">
    <div class="card p-6 shadow-lg rounded-lg max-w-md w-full">
      <h2 class="text-2xl font-semibold text-center mb-6">Sign in</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Username Field -->
        <div class="mb-4 relative">
          <label for="username" class="block text-lg font-medium text-gray-700">Username</label>
          <div class="relative">
            <input 
              id="username"
              type="text"
              formControlName="username"
              placeholder="Enter your Username"
              class="w-full mt-2 p-3 pl-10 pr-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition-all"
            />
           </div>
        </div>
       <!-- Password Field -->
        <div class="mb-4 relative">
          <label for="password" class="block text-lg font-medium text-gray-700">Password</label>
          <div class="relative">
            <input 
              id="password"
              [type]="showPassword ? 'text' : 'password'" 
              formControlName="password"
              placeholder="Enter your password"
              class="w-full mt-2 p-3 pl-10 pr-12 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition-all"
            />
            <!-- PrimeNG Button for Toggle -->
            <button 
              pButton 
              type="button" 
              class="absolute top-9 right-1  transform -translate-y-1/2 "
              (click)="togglePasswordVisibility()" 
              [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" 
              aria-label="Toggle Password Visibility">
            </button>
          </div>
        </div>
        <!-- Submit Button -->
        <div class="text-center mt-4">
          <button 
            type="submit" 
            class="w-full py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-gray-500 transition-all">
            <i class="pi pi-sign-in mr-2"></i> Submit
          </button>
        </div>
        <!-- Forgot Password Link -->
        <div class="text-center mt-4">
          <a href="#" class="text-blue-500 hover:text-blue-700">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
  <button pButton type="button" label="Go to Main" [routerLink]="'/main'" class="w-full py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-all">
  </button>
  <!-- PrimeNG Toast Component for Error Notifications -->
  <p-toast></p-toast>
</body>
